<div ng-controller="part3Ctrl">
    <div class="hidden-print" style="padding-bottom:90px;"></div>
    <md-progress-linear md-mode="indeterminate" value="30" ng-show="isLoading"></md-progress-linear>
    <br />

    <div class="container">
        <md-whiteframe class="md-whiteframe-24dp" layout layout-align="center center">
            <h4>भाग 3 :- कृषि एवं सम्बद्ध सेवायें  </h4>
        </md-whiteframe>
        <br />
    </div>
    <md-toolbar md-scroll-shrink style="background-color:#8b9dc3">
       
            <div layout="row" layout-align="space-between center">
                <div class="md-toolbar-tools" style="font-size:medium">तालिका क्रमांक : 3.16</div>
                <div class="md-toolbar-tools" style="font-size:medium">प्रमुख मसालों,फलों तथा वनोषधि के अंतर्गत क्षेत्रफल</div>
                <div class="md-toolbar-tools" style="font-size:medium">इकाई  :  हेक्टर </div>
                <div class="md-toolbar-tools" style="font-size:medium">वर्ष : {{yearName}}</div>
            </div>
           
    </md-toolbar>
    <br />
    <form class="container-fluid" novalidate name="f1" ng-submit="saveTable('16')">

        <!--<div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
        </div>-->
        <div class="row">
            <div class="col-lg-12">
                                    <table class="table table-responsive  table-bordered text-center">
                                        <thead style="background-color:#85929E; color:white;">
                                            <tr>
                                                <td rowspan="2">    तहसील का नाम     </td>
                                                <td colspan="5"> प्रमुख मसाले     </td>
                                                <td colspan="4"> पुष्पोत्पादन   </td>
                                                <td colspan="4"> चिकित्सीय पौधे  </td>
                                                
                                            </tr>
                                            <tr>
                                                <td> अदरक </td>
                                                <td> धनिया  </td>
                                                <td> मिर्च </td>
                                                <td> लहसून   </td>
                                                <td> हल्दी </td>
                                                <td> गेंदा  </td>
                                                <td> गुलाब </td>
                                                <td> गुलदावाली  </td>
                                                <td> चमेली </td>
                                                <td> लेमन ग्रास  </td>
                                                <td> मूसली </td>
                                                <td> सर्फगंधा </td>
                                                <td> अश्वगंधा </td>
                                            </tr>
                                        </thead>
                                        <tbody class="foot">
                                            <tr ng-repeat="table in formTable">
                                                <td>{{table.areaName}}</td>
                                                <td class="form-group" ng-class="vginger"><input type="text" maxlength="8" onkeypress="return onlyFloat(this)" class="form-control" required   ng-model="table.ginger" />  </td>
                                                <td class="form-group" ng-class="vcoriander"><input type="text" maxlength="8" onkeypress="return onlyFloat(this)" class="form-control" required   ng-model="table.coriander" />  </td>
                                                <td class="form-group" ng-class="vpepper"><input type="text" maxlength="8" onkeypress="return onlyFloat(this)" class="form-control" required   ng-model="table.pepper"/>  </td>
                                                <td class="form-group" ng-class="vgarlic"><input type="text" maxlength="8" onkeypress="return onlyFloat(this)" class="form-control" required   ng-model="table.garlic"/>  </td>
                                                <td class="form-group" ng-class="vturmeric"><input type="text" maxlength="8" onkeypress="return onlyFloat(this)" class="form-control" required  ng-model="table.turmeric" />  </td>
                                                <td class="form-group" ng-class="vmarigold"><input type="text" maxlength="8" onkeypress="return onlyFloat(this)" class="form-control" required  ng-model="table.marigold"/>  </td>
                                                <td class="form-group" ng-class="vrose"><input type="text" maxlength="7" onkeypress="return onlyFloat(this)" class="form-control" required  ng-model="table.rose"/>  </td>
                                                <td class="form-group" ng-class="vguldawali"><input type="text" maxlength="7" onkeypress="return onlyFloat(this)" class="form-control" required  ng-model="table.guldawali" />  </td>
                                                <td class="form-group" ng-class="vjasmin"><input type="text" maxlength="7" onkeypress="return onlyFloat(this)" class="form-control" required  ng-model="table.jasmin" />  </td>
                                                <td class="form-group" ng-class="vlemonGrass"><input type="text" maxlength="7" onkeypress="return onlyFloat(this)" class="form-control" required  ng-model="table.lemonGrass" />  </td>
                                                <td class="form-group" ng-class="vmusli"><input type="text" maxlength="7" onkeypress="return onlyFloat(this)" class="form-control" required  ng-model="table.musli" />  </td>
                                                <td class="form-group" ng-class="vsurfgundha"><input type="text" maxlength="7" onkeypress="return onlyFloat(this)" class="form-control" required  ng-model="table.surfgundha" />  </td>
                                                <td class="form-group" ng-class="vsshvagundha"><input type="text" maxlength="7" onkeypress="return onlyFloat(this)" class="form-control" required  ng-model="table.sshvagundha" />  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                             <br />

            </div>
        </div>
        <div class="container">
            <div layout="row" layout-align="space-between center">
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Note</label>
                        <textarea rows="4" cols="50"  ng-model="index.note"  />
                    </md-input-container>
                </div>
                <div><md-button type='submit' class="md-raised md-primary">Save</md-button></div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Source</label>
                        <textarea rows="4" cols="50"  ng-model="index.source" required />
                        <div ng-messages="index.source.$error">
                            <div ng-message="required" class="my-message">Please enter source name.</div>
                        </div>
                    </md-input-container>
                </div>
               
            </div>
            
        </div>
        <br />
        <br />
    </form>

</div>