<div ng-controller="part9Ctrl">
    <div class="hidden-print" style="padding-bottom:90px;"></div>
    <md-progress-linear md-mode="indeterminate" value="30" ng-show="isLoading"></md-progress-linear>
    <br />

    <div class="container">
        <md-whiteframe class="md-whiteframe-24dp" layout layout-align="center center">
            <h4>भाग 9 :- श्रम एवं रोजगार    </h4>
        </md-whiteframe>
        <br />
    </div>
    <md-toolbar md-scroll-shrink style="background-color:#8b9dc3">
       
            <div layout="row" layout-align="space-between center">
                <div class="md-toolbar-tools" style="font-size:medium">तालिका क्रमांक : 9.8</div>
                <div class="md-toolbar-tools" style="font-size:medium">चिकित्सा एवं स्वास्थ्य कर्मचारी</div>
                <div class="md-toolbar-tools" style="font-size:medium">इकाई  : संख्या  </div>
                <div class="md-toolbar-tools" style="font-size:medium">वर्ष : {{yearName}}</div>
            </div>
           
    </md-toolbar>
    <br />
    <form class="container-fluid" novalidate name="f1" ng-submit="saveTable('8')">

        <!--<div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
        </div>-->
        <div class="row">
            <div class="col-lg-12">
                                    <table class="table table-responsive  table-bordered text-center">
                                        <thead style="background-color:#85929E; color:white;">
                                           
                                            <tr>
                                                <td rowspan="2">    तहसील का नाम      </td>
                                                <td colspan="3"> चिकित्सा अधिकारी (राजपत्रित)  </td>
                                                <td colspan="3"> कर्मचारी  </td>
                                                <td rowspan="2"> अन्य स्वास्थ्य कर्मचारी  </td>
                                                <td rowspan="2"> योग </td>
                                                
                                                
                                                
                                            </tr>
                                            <tr>
                                                <td>एलोपैथिक </td>
                                                <td>अन्य पद्धति </td>
                                                <td>  संक्रमण रोग </td>
                                                <td> स्वा. कर्मचारी </td>
                                                <td>  नर्स  </td>
                                                <td> कंपाउंडर  </td>
                                            </tr>
                                        </thead>
                                        <tbody class="foot">
                                            <tr ng-repeat="table in formTable">
                                                <td>{{table.areaName}}</td>
                                                <td class="form-group" ng-class="vAllopathyOfficer"><input ng-model="table.AllopathyOfficer"  type="text" maxlength="9" onkeypress="return onlyNum(this)"  class="form-control" required  />  </td>
                                                <td class="form-group" ng-class="vOtherOfficer"><input ng-model="table.OtherOfficer" type="text" maxlength="9" onkeypress="return onlyNum(this)" class="form-control" required  />  </td>
                                                <td class="form-group" ng-class="vInfectDiseaseOfficer"><input ng-model="table.InfectDiseaseOfficer" type="text" maxlength="9" onkeypress="return onlyNum(this)" class="form-control" required  />  </td>
                                                <td class="form-group" ng-class="vHealthEmp"><input ng-model="table.HealthEmp"  type="text" maxlength="9" onkeypress="return onlyNum(this)" class="form-control" required  />  </td>
                                                <td class="form-group" ng-class="vNurse"><input  ng-model="table.Nurse"  type="text" maxlength="9" onkeypress="return onlyNum(this)" class="form-control" required/>  </td>
                                                <td class="form-group" ng-class="vCompounders"><input  ng-model="table.Compounders"  type="text" maxlength="9" onkeypress="return onlyNum(this)" class="form-control" required/>  </td>
                                                <td class="form-group" ng-class="vOtherHealthEmp"><input ng-model="table.OtherHealthEmp" type="text" maxlength="9" onkeypress="return onlyNum(this)" class="form-control" required />  </td>
                                                <td class="form-group" ng-class="vTotal"><input ng-model="table.Total" type="text" maxlength="9" onkeypress="return onlyNum(this)" class="form-control" required />  </td>
                                                   
                                            </tr>
                                        </tbody>
                                    </table>
                             <br />
            </div>
        </div>
        <div class="container">
            <div layout="row" layout-align="space-between center">
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Note</label>
                        <textarea rows="4" cols="50"  ng-model="index.note"  />
                    </md-input-container>
                </div>
                <div><md-button type='submit' class="md-raised md-primary">Save</md-button></div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Source</label>
                        <textarea rows="4" cols="50"  ng-model="index.source" required />
                        <div ng-messages="index.source.$error">
                            <div ng-message="required" class="my-message">Please enter source name.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            
        </div>
        <br />
        <br />
    </form>

</div>