<div ng-controller="part3Ctrl">
    <div class="hidden-print" style="padding-bottom:90px;"></div>
    <md-progress-linear md-mode="indeterminate" value="30" ng-show="isLoading"></md-progress-linear>
    <br />

    <div class="container">
        <md-whiteframe class="md-whiteframe-24dp" layout layout-align="center center">
            <h4>भाग 3 :- कृषि एवं सम्बद्ध सेवायें  </h4>
        </md-whiteframe>
        <br />
    </div>
    <md-toolbar md-scroll-shrink style="background-color:#8b9dc3">
       
            <div layout="row" layout-align="space-between center">
                <div class="md-toolbar-tools" style="font-size:medium">तालिका क्रमांक : 3.2</div>
                <div class="md-toolbar-tools" style="font-size:medium">आकारानुसार कृषि जोतों की संख्या</div>
                <div class="md-toolbar-tools" style="font-size:medium">इकाई  : हेक्टर </div>
                <div class="md-toolbar-tools" style="font-size:medium">वर्ष : {{yearName}}</div>
            </div>
           
    </md-toolbar>
    <br />
    <form class="container-fluid" novalidate name="f1" ng-submit="saveTable('2')">

        <!--<div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
        </div>-->
        <div class="row">
            <div class="col-lg-12">
                                    <table class="table table-responsive  table-bordered text-center">
                                        <thead style="background-color:#85929E; color:white;">
                                            <tr>
                                                <td rowspan="2" >    तहसील का नाम     </td>
                                                <td colspan="2"> सीमांत एक हेक्टर से कम    </td>
                                                <td colspan="2"> लघु एक हेक्टर से अधिक  </td>
                                                <td colspan="2"> अर्ध्य मध्यम दो हेक्टर से अधिक या चार हेक्टर    </td>
                                                <td colspan="2"> मध्यम चार हेक्टर से अधिक दस हेक्टर से कम  </td>
                                                <td colspan="2"> वृहद् दस हेक्टर से अधिक    </td>
                                                <td colspan="2"> योग  </td>
                                            </tr>
                                            <tr>
                                                <td> संख्या  </td>
                                                <td> क्षेत्रफल </td>
                                                <td> संख्या </td>
                                                <td> क्षेत्रफल </td>
                                                <td> संख्या  </td>
                                                <td> क्षेत्रफल </td>
                                                <td> संख्या </td>
                                                <td> क्षेत्रफल </td>
                                                <td> संख्या  </td>
                                                <td> क्षेत्रफल </td>
                                                <td> संख्या </td>
                                                <td> क्षेत्रफल </td>
                                            </tr>
                                        </thead>
                                        <tbody class="foot">
                                            <tr ng-repeat="table in formTable">
                                                <td>{{table.areaName}}</td>
                                                <td class="form-group" ng-class="vmarginalLess1H_Number"><input type="text" maxlength="6"  onkeypress="return onlyNum(this)" class="form-control" required  ng-model="table.marginalLess1H_Number" />  </td>
                                                <td class="form-group" ng-class="vmarginalLess1H_Area"><input type="text" maxlength="6" onkeypress="return onlyNum(this)" class="form-control" required  ng-model="table.marginalLess1H_Area" />  </td>
                                                <td class="form-group" ng-class="vsmallMore1H_Number"><input type="text" maxlength="6" onkeypress="return onlyNum(this)" class="form-control" required  ng-model="table.smallMore1H_Number"/>  </td>
                                                <td class="form-group" ng-class="vsmallMore1H_Area"><input type="text" maxlength="6" onkeypress="return onlyNum(this)" class="form-control" required  ng-model="table.smallMore1H_Area"/>  </td>
                                                <td class="form-group" ng-class="vsemiMiddle2to4_Number"><input type="text" maxlength="6" onkeypress="return onlyNum(this)" class="form-control" required  ng-model="table.semiMiddle2to4_Number" />  </td>
                                                <td class="form-group" ng-class="vsemiMiddle2to4_Area"><input type="text" maxlength="6" onkeypress="return onlyNum(this)" class="form-control" required  ng-model="table.semiMiddle2to4_Area"/>  </td>
                                                <td class="form-group" ng-class="vmiddleLess10H_Number"><input type="text" maxlength="6" onkeypress="return onlyNum(this)" class="form-control" required  ng-model="table.middleLess10H_Number"/>  </td>
                                                <td class="form-group" ng-class="vmiddleLess10H_Area"><input type="text" maxlength="6" onkeypress="return onlyNum(this)" class="form-control" required  ng-model="table.middleLess10H_Area"/>  </td>
                                                <td class="form-group" ng-class="vlargeMore10H_Number"><input type="text" maxlength="6" onkeypress="return onlyNum(this)" class="form-control" required  ng-model="table.largeMore10H_Number"/>  </td>
                                                <td class="form-group" ng-class="vlargeMore10H_Area"><input type="text" maxlength="6" onkeypress="return onlyNum(this)" class="form-control" required  ng-model="table.largeMore10H_Area" />  </td>
                                                <td class="form-group" ng-class="vtotal_Number"><input type="text" maxlength="6" onkeypress="return onlyNum(this)" class="form-control" required  ng-model="table.total_Number" />  </td>
                                                <td class="form-group" ng-class="vtotal_Area"><input type="text" maxlength="6" onkeypress="return onlyNum(this)" class="form-control" required  ng-model="table.total_Area" />  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                             <br />

            </div>
        </div>
        <div class="container">
            <div layout="row" layout-align="space-between center">
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Note</label>
                        <textarea rows="4" cols="50"  ng-model="index.note"  />
                    </md-input-container>
                </div>
                <div><md-button type='submit' class="md-raised md-primary">Save</md-button></div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Source</label>
                        <textarea rows="4" cols="50"  ng-model="index.source" required />
                        <div ng-messages="index.source.$error">
                            <div ng-message="required" class="my-message">Please enter source name.</div>
                        </div>
                    </md-input-container>
                </div>
               
            </div>
            
        </div>
        <br />
        <br />
    </form>

</div>