<div ng-controller="part9Ctrl">
    <div class="hidden-print" style="padding-bottom:90px;"></div>
    <md-progress-linear md-mode="indeterminate" value="30" ng-show="isLoading"></md-progress-linear>
    <br />

    <div class="container">
        <md-whiteframe class="md-whiteframe-24dp" layout layout-align="center center">
            <h4>भाग 9 :- श्रम एवं रोजगार    </h4>
        </md-whiteframe>
        <br />
    </div>
    <md-toolbar md-scroll-shrink style="background-color:#8b9dc3">
       
            <div layout="row" layout-align="space-between center">
                <div class="md-toolbar-tools" style="font-size:medium">तालिका क्रमांक : 9.1</div>
                <div class="md-toolbar-tools" style="font-size:medium">साक्षर जनसंख्या (जनगणना 2001)  </div>
                <div class="md-toolbar-tools" style="font-size:medium">इकाई  : संख्या  </div>
                <div class="md-toolbar-tools" style="font-size:medium">वर्ष : {{yearName}}</div>
            </div>
           
    </md-toolbar>
    <br />
    <form class="container-fluid" novalidate name="f1" ng-submit="saveTable('1')">

        <!--<div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
        </div>-->
        <div class="row">
            <div class="col-lg-12">
                                    <table class="table table-responsive  table-bordered text-center">
                                        <thead style="background-color:#85929E; color:white;">
                                           
                                            <tr>
                                                <td rowspan="2">    तहसील का नाम      </td>
                                                <td colspan="3"> ग्रामीण    </td>
                                                <td colspan="3"> नगरीय </td>
                                                <td colspan="3"> योग </td>
                                                <td colspan="3"> अनुसूचित जाति   </td>
                                                <td colspan="3"> अनुसूचित जन जाति  </td>
                                                
                                            </tr>
                                            <tr>
                                                <td> पुरुष </td>
                                                <td> स्त्री</td>
                                                <td> संख्या </td>
                                                <td> पुरुष </td>
                                                <td> स्त्री</td>
                                                <td> संख्या </td>
                                                <td> पुरुष </td>
                                                <td> स्त्री</td>
                                                <td> संख्या </td>
                                                <td> पुरुष </td>
                                                <td> स्त्री</td>
                                                <td> संख्या </td>
                                                <td> पुरुष </td>
                                                <td> स्त्री</td>
                                                <td> संख्या </td>

                                            </tr>
                                        </thead>
                                        <tbody class="foot">
                                            <tr ng-repeat="table in formTable">
                                                <td>{{table.areaName}}</td>
                                                <td class="form-group" ng-class="vRuralMale"><input ng-model="table.RuralMale"  type="text" maxlength="9" onkeypress="return onlyFloat(this)"  class="form-control" required  />  </td>
                                                <td class="form-group" ng-class="vRuralFemale"><input ng-model="table.RuralFemale" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required  />  </td>
                                                <td class="form-group" ng-class="vRuralTotal"><input ng-model="table.RuralTotal" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required  />  </td>
                                                <td class="form-group" ng-class="vUrbanMale"><input ng-model="table.UrbanMale"  type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required  />  </td>
                                                <td class="form-group" ng-class="vUrbanFemale"><input  ng-model="table.UrbanFemale"  type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required/>  </td>
                                                <td class="form-group" ng-class="vUrbanTotal"><input  ng-model="table.UrbanTotal"  type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required/>  </td>
                                                <td class="form-group" ng-class="vTotalMale"><input ng-model="table.TotalMale" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>
                                                <td class="form-group" ng-class="vTotalFemale"><input ng-model="table.TotalFemale" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>
                                                <td class="form-group" ng-class="vTotal"><input ng-model="table.Total" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>
                                                <td class="form-group" ng-class="vSCMale"><input ng-model="table.SCMale" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>
                                                <td class="form-group" ng-class="vSCFemale"><input ng-model="table.SCFemale" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>
                                                <td class="form-group" ng-class="vSCTotal"><input ng-model="table.SCTotal" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>
                                                <td class="form-group" ng-class="vSTMale"><input ng-model="table.STMale" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>
                                                <td class="form-group" ng-class="vSTFemale"><input ng-model="table.STFemale" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>
                                                <td class="form-group" ng-class="vSTTotal"><input ng-model="table.STTotal" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                             <br />
            </div>
        </div>
        <div class="container">
            <div layout="row" layout-align="space-between center">
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Note</label>
                        <textarea rows="4" cols="50"  ng-model="index.note"  />
                    </md-input-container>
                </div>
                <div><md-button type='submit' class="md-raised md-primary">Save</md-button></div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Source</label>
                        <textarea rows="4" cols="50"  ng-model="index.source" required />
                        <div ng-messages="index.source.$error">
                            <div ng-message="required" class="my-message">Please enter source name.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            
        </div>
        <br />
        <br />
    </form>

</div>