<div ng-controller="part15Ctrl">
    <div class="hidden-print" style="padding-bottom:90px;"></div>
    <md-progress-linear md-mode="indeterminate" value="30" ng-show="isLoading"></md-progress-linear>
    <br />

    <div class="container">
        <md-whiteframe class="md-whiteframe-24dp" layout layout-align="center center">
            <h4>भाग 15 :- विविध     </h4>
        </md-whiteframe>
        <br />
    </div>
    <md-toolbar md-scroll-shrink style="background-color:#8b9dc3">
       
            <div layout="row" layout-align="space-between center">
                <div class="md-toolbar-tools" style="font-size:medium">तालिका क्रमांक : 15.2</div>
                <div class="md-toolbar-tools" style="font-size:medium">पंजीयन इकाईयों की संख्या (जन्म-मृत्यु) </div>
                <div class="md-toolbar-tools" style="font-size:medium">इकाई  : संख्या   </div>
                <div class="md-toolbar-tools" style="font-size:medium">वर्ष : {{yearName}}</div>
            </div>
           
    </md-toolbar>
    <br />
    <form class="container-fluid" novalidate name="f1" ng-submit="saveTable('2')">

        <!--<div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
        </div>-->
        <div class="row">
            <div class="col-lg-12">
                                    <table class="table table-responsive  table-bordered text-center">
                                        <thead style="background-color:#85929E; color:white;">
                                           
                                           
                                            <tr>
                                                <td rowspan="2">   तहसील का नाम     </td>
                                                <td colspan="2" > ग्रामीण   </td>
                                                <td colspan="2" >  नगरीय    </td>
                                                <td colspan="2"> योग   </td>
                                                
                                            </tr>
                                            <tr>
                                                <td> पंजीयन इकाई   </td>
                                                <td> उप पंजीयन इकाई  </td>
                                                <td> पंजीयन इकाई   </td>
                                                <td> उप पंजीयन इकाई  </td>
                                                <td> पंजीयन इकाई   </td>
                                                <td> उप पंजीयन इकाई  </td>

                                            </tr>
                                        </thead>
                                        <tbody class="foot">
                                            <tr ng-repeat="table in formTable">
                                                <td>{{table.areaName}}</td>
                                                <td class="form-group" ng-class="vRuralRegiUnit"><input ng-model="table.RuralRegiUnit"  type="text" maxlength="9" onkeypress="return onlyFloat(this)"  class="form-control" required  />  </td>
                                                <td class="form-group" ng-class="vRuralSubRegiUnit"><input ng-model="table.RuralSubRegiUnit" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required  />  </td>
                                                <td class="form-group" ng-class="vUrbanRegiUnit"><input ng-model="table.UrbanRegiUnit" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>
                                                <td class="form-group" ng-class="vUrbanSubRegiUnit"><input ng-model="table.UrbanSubRegiUnit" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>
                                                <td class="form-group" ng-class="vTotalRegiUnit"><input ng-model="table.TotalRegiUnit" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>
                                                <td class="form-group" ng-class="vTotalSubRegiUnit"><input ng-model="table.TotalSubRegiUnit" type="text" maxlength="9" onkeypress="return onlyFloat(this)" class="form-control" required />  </td>

                                            </tr>
                                        </tbody>
                                    </table>
                             <br />
            </div>
        </div>
        <div class="container">
            <div layout="row" layout-align="space-between center">
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Note</label>
                        <textarea rows="4" cols="50"  ng-model="index.note"  />
                    </md-input-container>
                </div>
                <div><md-button type='submit' class="md-raised md-primary">Save</md-button></div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Source</label>
                        <textarea rows="4" cols="50"  ng-model="index.source" required />
                        <div ng-messages="index.source.$error">
                            <div ng-message="required" class="my-message">Please enter source name.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            
        </div>
        <br />
        <br />
    </form>

</div>